---
- name: Create new Proxmox VM (via Semaphore)
  hosts: local
  gather_facts: no

  vars:
    api_host: "{{ pve_host }}"
    api_user: "{{ pve_user }}"
    api_token_id: "{{ pve_user }}!{{ pve_token_name }}"
    api_token_secret: "{{ pve_token_value }}"

    vmid_cmd: "pvesh get /cluster/nextid"
    next_vmid: "{{ lookup('ansible.builtin.pipe', vmid_cmd) }}"

    final_vm_name: "{{ survey_vm_name | default(vm_name) }}"
    final_cores: "{{ survey_cpu_cores | default(vm_cores) }}"
    final_memory_mb: "{{ survey_ram_mb | default(vm_memory) }}"
    final_disk_gb: "{{ survey_disk_gb | default(vm_disk_gb) }}"
    final_bridge: "{{ survey_bridge | default(vm_bridge) }}"
    final_node: "{{ pve_node }}"
    final_storage: "vm_storage"

  tasks:

    - name: Show parameters that will be used
      ansible.builtin.debug:
        msg:
          api_host: "{{ api_host }}"
          node: "{{ final_node }}"
          vmid: "{{ next_vmid }}"
          vm_name: "{{ final_vm_name }}"
          cores: "{{ final_cores }}"
          memory: "{{ final_memory_mb }}"
          disk: "{{ final_disk_gb }}"
          bridge: "{{ final_bridge }}"
          storage: "{{ final_storage }}"

    - name: Create VM base definition
      community.general.proxmox_kvm:
        api_host: "{{ api_host }}"
        api_user: "{{ api_user }}"
        api_token_id: "{{ api_token_id }}"
        api_token_secret: "{{ api_token_secret }}"
        validate_certs: no

        node: "{{ final_node }}"
        vmid: "{{ next_vmid }}"
        name: "{{ final_vm_name }}"
        state: present
        cores: "{{ final_cores }}"
        memory: "{{ final_memory_mb }}"
        scsihw: virtio-scsi-single
        bootdisk: scsi0

    - name: Attach system disk
      community.general.proxmox_disk:
        api_host: "{{ api_host }}"
        api_user: "{{ api_user }}"
        api_token_id: "{{ api_token_id }}"
        api_token_secret: "{{ api_token_secret }}"
        validate_certs: no

        vmid: "{{ next_vmid }}"
        node: "{{ final_node }}"
        disk: "scsi0"
        size: "{{ final_disk_gb }}"
        storage: "{{ final_storage }}"
        state: present

    - name: Configure network interface
      community.general.proxmox_nic:
        api_host: "{{ api_host }}"
        api_user: "{{ api_user }}"
        api_token_id: "{{ api_token_id }}"
        api_token_secret: "{{ api_token_secret }}"
        validate_certs: no
        
        vmid: "{{ next_vmid }}"
        node: "{{ final_node }}"
        interface: net0
        model: virtio
        bridge: "{{ final_bridge }}"
        state: present

    - name: Start VM
      community.general.proxmox_kvm:
        api_host: "{{ api_host }}"
        api_user: "{{ api_user }}"
        api_token_id: "{{ api_token_id }}"
        api_token_secret: "{{ api_token_secret }}"
        validate_certs: no

        vmid: "{{ next_vmid }}"
        node: "{{ final_node }}"
        state: started
