---
- name: Create new Proxmox VM (REST API)
  hosts: local
  gather_facts: false

  vars:

    # API credentials from Variable Group
    api_host: "{{ pve_host }}"
    api_user: "{{ pve_user }}"
    api_token_name: "{{ pve_token_name }}"
    api_token_value: "{{ pve_token_value }}"
    api_token_header: "PVEAPIToken={{ api_user }}!{{ api_token_name }}={{ api_token_value }}"

    # VM defaults from Variable Groups (NO survey)
    vm_name_final: "{{ vm_name }}"
    vm_cores_final: "{{ vm_cores }}"
    vm_memory_final: "{{ vm_memory }}"
    vm_disk_final: "{{ vm_disk_gb }}"
    vm_bridge_final: "{{ vm_bridge }}"
    vm_node_final: "{{ pve_node }}"
    vm_storage_final: "vm_storage"

  tasks:

    #################################################################
    # 0. Inspect parameters
    #################################################################
    - name: Show parameters
      debug:
        msg:
          host: "{{ api_host }}"
          node: "{{ vm_node_final }}"
          name: "{{ vm_name_final }}"
          cores: "{{ vm_cores_final }}"
          memory: "{{ vm_memory_final }}"
          disk: "{{ vm_disk_final }}"
          bridge: "{{ vm_bridge_final }}"
          storage: "{{ vm_storage_final }}"

    #################################################################
    # 1. ALWAYS get next free VMID
    #################################################################
    - name: Get next free VMID from Proxmox API
      uri:
        url: "https://{{ api_host }}:8006/api2/json/cluster/nextid"
        method: GET
        validate_certs: no
        headers:
          Authorization: "{{ api_token_header }}"
      register: nextid_result

    - name: Set generated VMID
      set_fact:
        new_vmid: "{{ nextid_result.json.data | int }}"

    - name: Show final VMID
      debug:
        msg: "FINAL VMID = {{ new_vmid }}"

    #################################################################
    # 2. CREATE VM SHELL
    #################################################################
    - name: Create VM shell
      uri:
        url: "https://{{ api_host }}:8006/api2/json/nodes/{{ vm_node_final }}/qemu"
        method: POST
        validate_certs: no
        headers:
          Authorization: "{{ api_token_header }}"
        body_format: form-urlencoded
        body:
          vmid: "{{ new_vmid }}"
          name: "{{ vm_name_final }}"
          ostype: l26
          cores: "{{ vm_cores_final }}"
          memory: "{{ vm_memory_final }}"
          scsihw: virtio-scsi-pci
          agent: 1
          balloon: 0

    #################################################################
    # 3. ADD DISK
    #################################################################
    - name: Add disk
      uri:
        url: "https://{{ api_host }}:8006/api2/json/nodes/{{ vm_node_final }}/qemu/{{ new_vmid }}/config"
        method: PUT
        validate_certs: no
        headers:
          Authorization: "{{ api_token_header }}"
        body_format: form-urlencoded
        body:
          scsi0: "{{ vm_storage_final }}:{{ vm_disk_final }}G"

    #################################################################
    # 4. ADD NETWORK
    #################################################################
    - name: Add NIC
      uri:
        url: "https://{{ api_host }}:8006/api2/json/nodes/{{ vm_node_final }}/qemu/{{ new_vmid }}/config"
        method: PUT
        validate_certs: no
        headers:
          Authorization: "{{ api_token_header }}"
        body_format: form-urlencoded
        body:
          net0: "virtio,bridge={{ vm_bridge_final }}"

    #################################################################
    # 5. DONE
    #################################################################
    - name: Done
      debug:
        msg:
          created_vmid: "{{ new_vmid }}"
          name: "{{ vm_name_final }}"
