---
- name: Create new Proxmox VM (via Semaphore)
  hosts: localhost
  gather_facts: no

  vars:
    # API credentials (kommer fra Semaphore var-group)
    api_host: "{{ pve_host }}"
    api_user: "{{ pve_user }}"
    api_token_name: "{{ pve_token_name }}"
    api_token_secret: "{{ pve_token_value }}"
    api_node: "{{ pve_node }}"

    # VM settings (kommer fra Semaphore var-group)
    vmname: "{{ vm_name }}"
    memory_mb: "{{ vm_memory }}"
    cores: "{{ vm_cores }}"
    disk_gb: "{{ vm_disk_gb }}"
    bridge: "{{ vm_bridge }}"

  tasks:

    #################################################################
    # 1. Get next free VMID from Proxmox API
    #################################################################
    - name: Get next free VMID from API
      community.proxmox.pve_next_vmid:
        api_host: "{{ api_host }}"
        api_user: "{{ api_user }}"
        api_token_id: "{{ api_user }}!{{ api_token_name }}"
        api_token_secret: "{{ api_token_secret }}"
        validate_certs: false
      register: nextid

    - name: Save VMID
      set_fact:
        new_vmid: "{{ nextid.vmid }}"

    #################################################################
    # 2. Show what will be created (debug)
    #################################################################
    - name: Show parameters that will be used
      ansible.builtin.debug:
        msg:
          api_host: "{{ api_host }}"
          api_user: "{{ api_user }}"
          node: "{{ api_node }}"
          vmid: "{{ new_vmid }}"
          vm_name: "{{ vmname }}"
          ram_mb: "{{ memory_mb }}"
          cores: "{{ cores }}"
          disk_gb: "{{ disk_gb }}"
          bridge: "{{ bridge }}"
          storage: "vm_storage"

    #################################################################
    # 3. Create VM (bare bones)
    #################################################################
    - name: Create VM shell
      community.proxmox.pve_kvm:
        api_host: "{{ api_host }}"
        api_user: "{{ api_user }}"
        api_token_id: "{{ api_user }}!{{ api_token_name }}"
        api_token_secret: "{{ api_token_secret }}"
        validate_certs: false

        node: "{{ api_node }}"
        vmid: "{{ new_vmid }}"
        name: "{{ vmname }}"
        memory: "{{ memory_mb }}"
        cores: "{{ cores }}"
        sockets: 1
        machine: q35
        ostype: l26
        scsihw: virtio-scsi-pci
        state: present

    #################################################################
    # 4. Add disk
    #################################################################
    - name: Add SCSI disk
      community.proxmox.pve_disk:
        api_host: "{{ api_host }}"
        api_user: "{{ api_user }}"
        api_token_id: "{{ api_user }}!{{ api_token_name }}"
        api_token_secret: "{{ api_token_secret }}"
        validate_certs: false

        node: "{{ api_node }}"
        vmid: "{{ new_vmid }}"
        disk: "scsi0"
        size: "{{ disk_gb }}G"
        storage: "vm_storage"
        type: scsi
        state: present

    #################################################################
    # 5. Add NIC
    #################################################################
    - name: Add network interface
      community.proxmox.pve_nic:
        api_host: "{{ api_host }}"
        api_user: "{{ api_user }}"
        api_token_id: "{{ api_user }}!{{ api_token_name }}"
        api_token_secret: "{{ api_token_secret }}"
        validate_certs: false

        node: "{{ api_node }}"
        vmid: "{{ new_vmid }}"
        net: "net0"
        model: virtio
        bridge: "{{ bridge }}"
        state: present
