---
- name: Create VM on Proxmox
  hosts: local
  gather_facts: no

  vars:
    api_host: "{{ pve_host }}"
    api_user: "{{ pve_user }}"
    api_token_name: "{{ pve_token_name }}"
    api_token_value: "{{ pve_token_value }}"

    vm_name: "{{ survey_vm_name | default(vm_name) }}"
    vm_cores: "{{ survey_vm_cores | default(vm_cores) }}"
    vm_memory: "{{ survey_vm_memory | default(vm_memory) }}"
    vm_disk_gb: "{{ survey_vm_disk | default(vm_disk_gb) }}"
    vm_bridge: "{{ survey_vm_bridge | default(vm_bridge) }}"
    vm_storage: "{{ pve_storage }}"

  tasks:

    - name: Find next available VMID
      community.general.proxmox:
        api_host: "{{ api_host }}"
        api_user: "{{ api_user }}"
        api_token_id: "{{ api_token_name }}"
        api_token_secret: "{{ api_token_value }}"
        state: current
      register: pve_info

    - set_fact:
        next_vmid: "{{ (pve_info.vms | map(attribute='vmid') | max) + 1 }}"

    - name: Create VM
      community.general.proxmox_kvm:
        api_host: "{{ api_host }}"
        api_user: "{{ api_user }}"
        api_password: "{{ api_token_value }}"
        api_token_id: "{{ api_token_name }}"
        node: "sevahost1"
        vmid: "{{ next_vmid }}"
        name: "{{ vm_name }}"
        memory: "{{ vm_memory }}"
        cores: "{{ vm_cores }}"
        scsihw: virtio-scsi-pci
        boot: c
        ide2: "local-lvm:cloudinit"
        net0: "virtio,bridge={{ vm_bridge }}"
        sata0: "{{ vm_storage }}:{{ vm_disk_gb }}"
        onboot: yes
        state: present

    - name: Start VM
      community.general.proxmox_kvm:
        api_host: "{{ api_host }}"
        api_user: "{{ api_user }}"
        api_password: "{{ api_token_value }}"
        api_token_id: "{{ api_token_name }}"
        vmid: "{{ next_vmid }}"
        state: started

    - name: Show VM info
      debug:
        msg: "VM '{{ vm_name }}' created as ID {{ next_vmid }}"
