---
- name: Create new Proxmox VM (via Semaphore)
  hosts: localhost
  gather_facts: false

  vars:
    # API-vars kommer fra Semaphore Variable Groups (proxmox-api)
    api_host: "{{ pve_host }}"
    api_user: "{{ pve_user }}"
    api_token_id: "{{ pve_token_name }}"
    api_token_secret: "{{ pve_token_value }}"
    pve_node: "{{ pve_node }}"

    # Create-VM defaults (fra Variable Group: proxmox-create-vm)
    vm_name: "{{ vm_name | default('Seva-VM') }}"
    memory_mb: "{{ memory_mb | default(4096) }}"
    cores: "{{ cores | default(2) }}"
    disk_size: "{{ disk_size | default('30G') }}"
    bridge: "{{ bridge | default('vmbr1') }}"
    fixed_pve_storage: "vm_storage"   # Altid SSD storage

  tasks:

    #####################################################################
    # 1. Find næste ledige VMID via Proxmox API (korekt API kald)
    #####################################################################
    - name: Get next free VMID from Proxmox API
      uri:
        url: "https://{{ api_host }}:8006/api2/json/cluster/nextid"
        method: GET
        validate_certs: false
        headers:
          Authorization: "PVEAPIToken={{ api_user }}!{{ api_token_id }}={{ api_token_secret }}"
      register: nextid_response

    - name: Save VMID
      set_fact:
        next_vmid: "{{ nextid_response.json.data }}"

    - name: Debug – next VMID
      debug:
        msg: "Next VMID = {{ next_vmid }}"

    #####################################################################
    # 2. Opret selve VM’en
    #####################################################################
    - name: Create VM
      community.proxmox.proxmox:
        api_host: "{{ api_host }}"
        api_user: "{{ api_user }}"
        api_token_id: "{{ api_token_id }}"
        api_token_secret: "{{ api_token_secret }}"
        validate_certs: false
        node: "{{ pve_node }}"
        vmid: "{{ next_vmid }}"
        state: present
        name: "{{ vm_name }}"
        memory: "{{ memory_mb }}"
        cores: "{{ cores }}"
        sockets: 1
        scsihw: virtio-scsi-pci
        ostype: l26

    #####################################################################
    # 3. Tilføj DISK (SCSI0)
    #####################################################################
    - name: Add SCSI Disk
      community.proxmox.proxmox:
        api_host: "{{ api_host }}"
        api_user: "{{ api_user }}"
        api_token_id: "{{ api_token_id }}"
        api_token_secret: "{{ api_token_secret }}"
        validate_certs: false
        node: "{{ pve_node }}"
        vmid: "{{ next_vmid }}"
        state: update
        scsi:
          scsi0:
            storage: "{{ fixed_pve_storage }}"
            size: "{{ disk_size }}"
            type: disk

    #####################################################################
    # 4. Tilføj NETKORT (virtio)
    #####################################################################
    - name: Add Network Interface
      community.proxmox.proxmox:
        api_host: "{{ api_host }}"
        api_user: "{{ api_user }}"
        api_token_id: "{{ api_token_id }}"
        api_token_secret: "{{ api_token_secret }}"
        validate_certs: false
        node: "{{ pve_node }}"
        vmid: "{{ next_vmid }}"
        state: update
        net:
          net0:
            model: virtio
            bridge: "{{ bridge }}"

    #####################################################################
    # 5. (Optional) Auto-start
    #####################################################################
    - name: Enable autostart
      community.proxmox.proxmox:
        api_host: "{{ api_host }}"
        api_user: "{{ api_user }}"
        api_token_id: "{{ api_token_id }}"
        api_token_secret: "{{ api_token_secret }}"
        validate_certs: false
        vmid: "{{ next_vmid }}"
        node: "{{ pve_node }}"
        state: update
        onboot: true

    #####################################################################
    # 6. DONE
    #####################################################################
    - name: Done
      debug:
        msg: "VM '{{ vm_name }}' (VMID: {{ next_vmid }}) created successfully on {{ pve_node }}"
