---
- name: Create new Proxmox VM (REST API)
  hosts: local
  gather_facts: false

  vars:

    ##############################################################
    # Proxmox API credentials (DIRECT from variable group)
    ##############################################################
    api_host: "{{ pve_host }}"
    api_user: "{{ pve_user }}"
    api_token_name: "{{ pve_token_name }}"
    api_token_value: "{{ pve_token_value }}"
    api_token_header: "PVEAPIToken={{ api_user }}!{{ api_token_name }}={{ api_token_value }}"

    ##############################################################
    # VM parameters (DIRECT from variable group)
    ##############################################################
    vm_name_final: "{{ vm_name }}"
    vm_cores_final: "{{ vm_cores }}"
    vm_memory_final: "{{ vm_memory }}"
    vm_disk_final: "{{ vm_disk_gb }}"
    vm_bridge_final: "{{ vm_bridge }}"
    vm_node_final: "{{ pve_node }}"
    vm_storage_final: "vm_storage"

  tasks:

    #################################################################
    # DEBUG PARAMS
    #################################################################
    - name: Show parameters
      debug:
        msg:
          host: "{{ api_host }}"
          user: "{{ api_user }}"
          node: "{{ vm_node_final }}"
          vm_name: "{{ vm_name_final }}"
          cores: "{{ vm_cores_final }}"
          memory: "{{ vm_memory_final }}"
          disk: "{{ vm_disk_final }}"
          bridge: "{{ vm_bridge_final }}"
          storage: "{{ vm_storage_final }}"

    #################################################################
    # GET NEXT VMID
    #################################################################
    - name: Get next free VMID from Proxmox API
      uri:
        url: "https://{{ api_host }}:8006/api2/json/cluster/nextid"
        method: GET
        validate_certs: false
        headers:
          Authorization: "{{ api_token_header }}"
      register: nextid_result

    - name: Set VMID
      set_fact:
        new_vmid: "{{ nextid_result.json.data | int }}"

    - name: Show VMID
      debug:
        msg: "Final VMID = {{ new_vmid }}"

    #################################################################
    # CREATE VM SHELL
    #################################################################
    - name: Create VM shell
      uri:
        url: "https://{{ api_host }}:8006/api2/json/nodes/{{ vm_node_final }}/qemu"
        method: POST
        validate_certs: false
        headers:
          Authorization: "{{ api_token_header }}"
        body_format: form-urlencoded
        body:
          vmid: "{{ new_vmid }}"
          name: "{{ vm_name_final }}"
          ostype: l26
          cores: "{{ vm_cores_final }}"
          memory: "{{ vm_memory_final }}"
          agent: 1
          scsihw: virtio-scsi-pci
          balloon: 0

    #################################################################
    # ADD DISK
    #################################################################
    - name: Add disk
      uri:
        url: "https://{{ api_host }}:8006/api2/json/nodes/{{ vm_node_final }}/qemu/{{ new_vmid }}/config"
        method: PUT
        validate_certs: false
        headers:
          Authorization: "{{ api_token_header }}"
        body_format: form-urlencoded
        body:
          scsi0: "{{ vm_storage_final }}:{{ vm_disk_final }}G"

    #################################################################
    # ADD NIC
    #################################################################
    - name: Add network interface
      uri:
        url: "https://{{ api_host }}:8006/api2/json/nodes/{{ vm_node_final }}/qemu/{{ new_vmid }}/config"
        method: PUT
        validate_certs: false
        headers:
          Authorization: "{{ api_token_header }}"
        body_format: form-urlencoded
        body:
          net0: "virtio,bridge={{ vm_bridge_final }}"

    #################################################################
    # DONE
    #################################################################
    - name: Done
      debug:
        msg:
          vmid: "{{ new_vmid }}"
          name: "{{ vm_name_final }}"
