---
- name: Create new Proxmox VM (REST API version)
  hosts: localhost
  gather_facts: no

  vars:
    api_host: "{{ pve_host }}"
    api_user: "{{ pve_user }}"
    api_token_name: "{{ pve_token_name }}"
    api_token_value: "{{ pve_token_value }}"
    api_node: "{{ pve_node }}"

    # VM defaults from your Variable Group
    vmname: "{{ vm_name }}"
    memory_mb: "{{ vm_memory }}"
    cores: "{{ vm_cores }}"
    disk_gb: "{{ vm_disk_gb }}"
    bridge: "{{ vm_bridge }}"
    storage: "vm_storage"

    api_token_header: "PVEAPIToken={{ api_user }}!{{ api_token_name }}={{ api_token_value }}"

  tasks:

    #################################################################
    # 1. Get next VMID
    #################################################################
    - name: Get next free VMID
      uri:
        url: "https://{{ api_host }}:8006/api2/json/cluster/nextid"
        method: GET
        validate_certs: no
        headers:
          Authorization: "{{ api_token_header }}"
      register: nextid_result

    - name: Set VMID
      set_fact:
        new_vmid: "{{ nextid_result.json.data }}"

    #################################################################
    # 2. Debug
    #################################################################
    - name: Debug planned creation
      debug:
        msg:
          vmid: "{{ new_vmid }}"
          name: "{{ vmname }}"
          memory: "{{ memory_mb }}"
          cores: "{{ cores }}"
          disk: "{{ disk_gb }}"
          bridge: "{{ bridge }}"
          storage: "{{ storage }}"
          node: "{{ api_node }}"

    #################################################################
    # 3. Create VM shell (POST /nodes/{node}/qemu)
    #################################################################
    - name: Create VM shell
      uri:
        url: "https://{{ api_host }}:8006/api2/json/nodes/{{ api_node }}/qemu"
        method: POST
        validate_certs: no
        headers:
          Authorization: "{{ api_token_header }}"
        body_format: form-urlencoded
        body:
          vmid: "{{ new_vmid }}"
          name: "{{ vmname }}"
          memory: "{{ memory_mb }}"
          cores: "{{ cores }}"
          sockets: 1
          ostype: l26
          scsihw: virtio-scsi-pci
          machine: q35
      register: create_shell

    #################################################################
    # 4. Add disk (POST /qemu/{vmid}/config)
    #################################################################
    - name: Add disk
      uri:
        url: "https://{{ api_host }}:8006/api2/json/nodes/{{ api_node }}/qemu/{{ new_vmid }}/config"
        method: POST
        validate_certs: no
        headers:
          Authorization: "{{ api_token_header }}"
        body_format: form-urlencoded
        body:
          scsi0: "{{ storage }}:{{ disk_gb }}G"

    #################################################################
    # 5. Add NIC
    #################################################################
    - name: Add NIC
      uri:
        url: "https://{{ api_host }}:8006/api2/json/nodes/{{ api_node }}/qemu/{{ new_vmid }}/config"
        method: POST
        validate_certs: no
        headers:
          Authorization: "{{ api_token_header }}"
        body_format: form-urlencoded
        body:
          net0: "virtio,bridge={{ bridge }}"

    #################################################################
    # 6. Start VM
    #################################################################
    - name: Start VM
      uri:
        url: "https://{{ api_host }}:8006/api2/json/nodes/{{ api_node }}/qemu/{{ new_vmid }}/status/start"
        method: POST
        validate_certs: no
        headers:
          Authorization: "{{ api_token_header }}"
