---
- name: Create new Proxmox VM (via Semaphore)
  hosts: local
  gather_facts: false

  #
  # Her laver vi en "fusion" af:
  # - defaults fra Variable Group (proxmox-create-vm)
  # - værdier fra Semaphore Survey (hvis du skriver noget)
  #
  # Storage er altid vm_storage som du ønskede.
  #
  vars:
    fixed_pve_storage: "vm_storage"

    merged_vm_name: "{{ survey_vm_name | default(vm_name) }}"
    merged_vm_cores: "{{ (survey_vm_cores | default(vm_cores)) | int }}"
    merged_vm_memory: "{{ (survey_vm_memory | default(vm_memory)) | int }}"
    merged_vm_disk_gb: "{{ survey_vm_disk_gb | default(vm_disk_gb) }}"
    merged_vm_bridge: "{{ survey_vm_bridge | default(vm_bridge) }}"

  tasks:

    - name: Show parameters that will be used
      ansible.builtin.debug:
        msg:
          api_host: "{{ pve_host }}"
          node: "{{ pve_node }}"
          vm_name: "{{ merged_vm_name }}"
          cores: "{{ merged_vm_cores }}"
          memory_mb: "{{ merged_vm_memory }}"
          disk_size: "{{ merged_vm_disk_gb }}"
          bridge: "{{ merged_vm_bridge }}"
          storage: "{{ fixed_pve_storage }}"

    - name: Create / update VM on Proxmox
      community.general.proxmox_kvm:
        # API auth via token
        api_host: "{{ pve_host }}"
        api_user: "{{ pve_user }}"
        api_token_id: "{{ pve_user }}!{{ pve_token_name }}"
        api_token_secret: "{{ pve_token_value }}"
        validate_certs: false

        # Hvor VM'en oprettes
        node: "{{ pve_node }}"
        name: "{{ merged_vm_name }}"
        state: present

        # Hardware
        cores: "{{ merged_vm_cores }}"
        memory: "{{ merged_vm_memory }}"
        sockets: 1
        ostype: l26

        # Disk & net
        scsihw: virtio-scsi-pci
        scsi0: "{{ fixed_pve_storage }}:{{ merged_vm_disk_gb }}"
        net0: "virtio,bridge={{ merged_vm_bridge }}"

        # Adfærd
        onboot: true
        agent: 1
        boot: c
