---
- name: Create new Proxmox VM via REST API
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    api_base: "https://{{ pve_host }}:8006/api2/json"
    token_id: "{{ pve_user }}!{{ pve_token_name }}"
    token_secret: "{{ pve_token_value }}"

  tasks:

    ###########################################################################
    # 1. Show parameters
    ###########################################################################
    - name: Show parameters
      debug:
        msg:
          host: "{{ pve_host }}"
          node: "{{ pve_node }}"
          vm_name: "{{ vm_name }}"
          memory: "{{ vm_memory }}"
          cores: "{{ vm_cores }}"
          disk: "{{ vm_disk_gb }}"
          bridge: "{{ vm_bridge }}"
          storage: "vm_storage"

    ###########################################################################
    # 2. ALWAYS get next free VMID
    ###########################################################################
    - name: Get next VMID from Proxmox
      uri:
        url: "{{ api_base }}/cluster/nextid"
        method: GET
        validate_certs: false
        headers:
          Authorization: "PVEAPIToken={{ token_id }}={{ token_secret }}"
      register: nextid_result

    - name: Set VMID fact
      set_fact:
        new_vmid: "{{ nextid_result.json.data | int }}"

    - name: Debug VMID
      debug:
        msg: "Using VMID: {{ new_vmid }}"

    ###########################################################################
    # 3. Create empty VM shell
    ###########################################################################
    - name: Create VM shell
      uri:
        url: "{{ api_base }}/nodes/{{ pve_node }}/qemu"
        method: POST
        validate_certs: false
        headers:
          Content-Type: application/x-www-form-urlencoded
          Authorization: "PVEAPIToken={{ token_id }}={{ token_secret }}"
        body_format: form-urlencoded
        body:
          vmid: "{{ new_vmid }}"
          name: "{{ vm_name }}"
          cores: "{{ vm_cores }}"
          memory: "{{ vm_memory }}"
          sockets: "1"
          ostype: "l26"
          scsihw: "virtio-scsi-pci"
          agent: "1"
      register: create_shell

    - name: Debug shell creation
      debug:
        var: create_shell.json

    ###########################################################################
    # 4. Create system disk
    ###########################################################################
    - name: Create system disk
      uri:
        url: "{{ api_base }}/nodes/{{ pve_node }}/qemu/{{ new_vmid }}/config"
        method: POST
        validate_certs: false
        headers:
          Content-Type: application/x-www-form-urlencoded
          Authorization: "PVEAPIToken={{ token_id }}={{ token_secret }}"
        body_format: form-urlencoded
        body:
          scsi0: "vm_storage:{{ vm_disk_gb }}G"
          boot: "scsi0"
      register: disk_result

    ###########################################################################
    # 5. Attach network interface
    ###########################################################################
    - name: Add network interface
      uri:
        url: "{{ api_base }}/nodes/{{ pve_node }}/qemu/{{ new_vmid }}/config"
        method: POST
        validate_certs: false
        headers:
          Content-Type: application/x-www-form-urlencoded
          Authorization: "PVEAPIToken={{ token_id }}={{ token_secret }}"
        body_format: form-urlencoded
        body:
          net0: "virtio,bridge={{ vm_bridge }}"
      register: net_result

    ###########################################################################
    # 6. Start the VM
    ###########################################################################
    - name: Start VM
      uri:
        url: "{{ api_base }}/nodes/{{ pve_node }}/qemu/{{ new_vmid }}/status/start"
        method: POST
        validate_certs: false
        headers:
          Authorization: "PVEAPIToken={{ token_id }}={{ token_secret }}"
      register: start_result

    - name: VM created
      debug:
        msg: "VM {{ vm_name }} created and started with VMID {{ new_vmid }}"
