---
- name: Create new Proxmox VM (REST API)
  hosts: local
  gather_facts: false

  vars:
    api_host: "{{ pve_host }}"
    api_user: "{{ pve_user }}"
    api_token_name: "{{ pve_token_name }}"
    api_token_value: "{{ pve_token_value }}"
    api_token_header: "PVEAPIToken={{ api_user }}!{{ api_token_name }}={{ api_token_value }}"

    # Survey-values with defaults
    vm_name_final: "{{ survey_vm_name | default(vm_name) }}"
    vm_cores_final: "{{ survey_vm_cores | default(vm_cores) }}"
    vm_memory_final: "{{ survey_vm_memory | default(vm_memory) }}"
    vm_disk_final: "{{ survey_vm_disk | default(vm_disk_gb) }}"
    vm_bridge_final: "{{ survey_vm_bridge | default(vm_bridge) }}"
    vm_node_final: "{{ pve_node }}"
    vm_storage_final: "vm_storage"

  tasks:

    #################################################################
    # 1. Debug settings
    #################################################################
    - name: Show parameters
      debug:
        msg:
          host: "{{ api_host }}"
          name: "{{ vm_name_final }}"
          cores: "{{ vm_cores_final }}"
          memory: "{{ vm_memory_final }}"
          disk: "{{ vm_disk_final }}"
          bridge: "{{ vm_bridge_final }}"
          node: "{{ vm_node_final }}"
          override: "{{ vmid_override | default('NOT_SET') }}"
          storage: "{{ vm_storage_final }}"

    #################################################################
    # 2. VMID handling
    #################################################################

    # STEP 1: If override exists, we use it.
    - name: Apply override VMID (if defined)
      set_fact:
        new_vmid: "{{ vmid_override }}"
      when: vmid_override is defined

    # STEP 2: Only generate VMID if override is NOT defined
    - name: Get next free VMID
      uri:
        url: "https://{{ api_host }}:8006/api2/json/cluster/nextid"
        method: GET
        validate_certs: no
        headers:
          Authorization: "{{ api_token_header }}"
      register: nextid_result
      when: vmid_override is not defined

    - name: Set auto VMID
      set_fact:
        new_vmid: "{{ nextid_result.json.data }}"
      when: vmid_override is not defined

    - name: Debug final VMID
      debug:
        msg: "FINAL VMID = {{ new_vmid }}"

    #################################################################
    # 3. Create VM shell
    #################################################################
    - name: Create VM shell
      uri:
        url: "https://{{ api_host }}:8006/api2/json/nodes/{{ vm_node_final }}/qemu"
        method: POST
        validate_certs: no
        headers:
          Authorization: "{{ api_token_header }}"
        body_format: form-urlencoded
        body:
          vmid: "{{ new_vmid }}"
          name: "{{ vm_name_final }}"
          cores: "{{ vm_cores_final }}"
          memory: "{{ vm_memory_final }}"
          ostype: l26
          scsihw: virtio-scsi-pci
          agent: 1
          balloon: 0

    #################################################################
    # 4. Add disk
    #################################################################
    - name: Add disk
      uri:
        url: "https://{{ api_host }}:8006/api2/json/nodes/{{ vm_node_final }}/qemu/{{ new_vmid }}/config"
        method: PUT
        validate_certs: no
        headers:
          Authorization: "{{ api_token_header }}"
        body_format: form-urlencoded
        body:
          scsi0: "{{ vm_storage_final }}:{{ vm_disk_final }}G"

    #################################################################
    # 5. Add NIC
    #################################################################
    - name: Add NIC
      uri:
        url: "https://{{ api_host }}:8006/api2/json/nodes/{{ vm_node_final }}/qemu/{{ new_vmid }}/config"
        method: PUT
        validate_certs: no
        headers:
          Authorization: "{{ api_token_header }}"
        body_format: form-urlencoded
        body:
          net0: "virtio,bridge={{ vm_bridge_final }}"

    #################################################################
    # 6. Done
    #################################################################
    - name: Done
      debug:
        msg:
          vmid: "{{ new_vmid }}"
          name: "{{ vm_name_final }}"
