---
- name: Create VM automatically
  hosts: local
  gather_facts: no

  vars:
    pve_host: "{{ pve_host }}"
    pve_user: "{{ pve_user }}"
    pve_token_name: "{{ pve_token_name }}"
    pve_token_value: "{{ pve_token_value }}"

  tasks:

    - name: Get next free VMID
      community.proxmox.pve_next_vmid:
        api_host: "{{ pve_host }}"
        api_user: "{{ pve_user }}"
        api_token_id: "{{ pve_token_name }}"
        api_token_secret: "{{ pve_token_value }}"
      register: new_id

    - name: Create VM
      community.proxmox.proxmox_kvm:
        api_host: "{{ pve_host }}"
        api_user: "{{ pve_user }}"
        api_token_id: "{{ pve_token_name }}"
        api_token_secret: "{{ pve_token_value }}"
        vmid: "{{ new_id.vmid }}"
        name: "{{ vm_name }}"
        cores: "{{ vm_cores }}"
        memory: "{{ vm_memory }}"
        scsihw: "virtio-scsi-pci"
        sata0: "{{ pve_storage }}:{{ vm_disk_gb }}"
        ostype: l26
        onboot: yes
        net0: "virtio,bridge={{ vm_bridge }}"
        state: present

    - name: Show result
      debug:
        msg: "VM '{{ vm_name }}' created with ID: {{ new_id.vmid }}"
