---
- name: Create new Proxmox VM (REST API)
  hosts: local
  gather_facts: false

  vars:

    api_host: "{{ pve_host }}"
    api_user: "{{ pve_user }}"
    api_token_name: "{{ pve_token_name }}"
    api_token_value: "{{ pve_token_value }}"
    api_token_header: "PVEAPIToken={{ api_user }}!{{ api_token_name }}={{ api_token_value }}"

    # Survey + fallback defaults
    vm_name_final: "{{ survey_vm_name | default(vm_name) }}"
    vm_cores_final: "{{ survey_vm_cores | default(vm_cores) }}"
    vm_memory_final: "{{ survey_vm_memory | default(vm_memory) }}"
    vm_disk_final: "{{ survey_vm_disk | default(vm_disk_gb) }}"
    vm_bridge_final: "{{ survey_vm_bridge | default(vm_bridge) }}"
    vm_node_final: "{{ pve_node }}"
    vm_storage_final: "vm_storage"

  tasks:

    - name: Show parameters
      debug:
        msg:
          host: "{{ api_host }}"
          name: "{{ vm_name_final }}"
          cores: "{{ vm_cores_final }}"
          memory: "{{ vm_memory_final }}"
          disk: "{{ vm_disk_final }}"
          bridge: "{{ vm_bridge_final }}"
          node: "{{ vm_node_final }}"
          override: "{{ vmid_manual_id | default('none') }}"
          storage: "{{ vm_storage_final }}"

    #################################################################
    # 1. VMID HANDLING (NEW LOGIC)
    #################################################################

    # If manual override is defined, we use it
    - name: Apply manual VMID override
      set_fact:
        new_vmid: "{{ vmid_manual_id }}"
      when: vmid_manual_id is defined

    # Only run auto ID generation if no override exists
    - name: Get next free VMID
      uri:
        url: "https://{{ api_host }}:8006/api2/json/cluster/nextid"
        method: GET
        validate_certs: no
        headers:
          Authorization: "{{ api_token_header }}"
      register: nextid_result
      when: vmid_manual_id is not defined

    - name: Set auto VMID
      set_fact:
        new_vmid: "{{ nextid_result.json.data | int }}"
      when: vmid_manual_id is not defined

    - name: Show final VMID
      debug:
        msg: "FINAL VMID = {{ new_vmid }}"

    #################################################################
    # 2. CREATE VM SHELL
    #################################################################
    - name: Create VM shell
      uri:
        url: "https://{{ api_host }}:8006/api2/json/nodes/{{ vm_node_final }}/qemu"
        method: POST
        validate_certs: no
        headers:
          Authorization: "{{ api_token_header }}"
        body_format: form-urlencoded
        body:
          vmid: "{{ new_vmid }}"
          name: "{{ vm_name_final }}"
          cores: "{{ vm_cores_final }}"
          memory: "{{ vm_memory_final }}"
          ostype: l26
          scsihw: virtio-scsi-pci
          agent: 1
          balloon: 0

    #################################################################
    # 3. ADD DISK
    #################################################################
    - name: Add disk
      uri:
        url: "https://{{ api_host }}:8006/api2/json/nodes/{{ vm_node_final }}/qemu/{{ new_vmid }}/config"
        method: PUT
        validate_certs: no
        headers:
          Authorization: "{{ api_token_header }}"
        body_format: form-urlencoded
        body:
          scsi0: "{{ vm_storage_final }}:{{ vm_disk_final }}G"

    #################################################################
    # 4. ADD NIC
    #################################################################
    - name: Add NIC
      uri:
        url: "https://{{ api_host }}:8006/api2/json/nodes/{{ vm_node_final }}/qemu/{{ new_vmid }}/config"
        method: PUT
        validate_certs: no
        headers:
          Authorization: "{{ api_token_header }}"
        body_format: form-urlencoded
        body:
          net0: "virtio,bridge={{ vm_bridge_final }}"

    #################################################################
    # 5. DONE
    #################################################################
    - name: Done
      debug:
        msg:
          vmid: "{{ new_vmid }}"
          name: "{{ vm_name_final }}"
