---
- name: Create new Proxmox VM (REST API)
  hosts: local
  gather_facts: false

  vars:
    #############################################################
    # TOKEN AUTH
    #############################################################
    api_host: "{{ pve_host }}"
    api_user: "{{ pve_user }}"
    api_token_name: "{{ pve_token_name }}"
    api_token_value: "{{ pve_token_value }}"
    api_token_header: "PVEAPIToken={{ api_user }}!{{ api_token_name }}={{ api_token_value }}"

    #############################################################
    # VM SETTINGS (defaults hvis ikke survey udfylder noget)
    #############################################################
    vm_name_final: "{{ survey_vm_name | default(vm_name) }}"
    vm_cores_final: "{{ survey_vm_cores | default(vm_cores) }}"
    vm_memory_final: "{{ survey_vm_memory | default(vm_memory) }}"
    vm_disk_final: "{{ survey_vm_disk | default(vm_disk_gb) }}"
    vm_bridge_final: "{{ survey_vm_bridge | default(vm_bridge) }}"
    vm_node_final: "{{ pve_node }}"
    vm_storage_final: "vm_storage"

  tasks:

    #################################################################
    # 1. Debug input
    #################################################################
    - name: Show parameters that will be used
      debug:
        msg:
          host: "{{ api_host }}"
          name: "{{ vm_name_final }}"
          cores: "{{ vm_cores_final }}"
          memory: "{{ vm_memory_final }}"
          disk: "{{ vm_disk_final }}"
          bridge: "{{ vm_bridge_final }}"
          node: "{{ vm_node_final }}"
          storage: "{{ vm_storage_final }}"

    #################################################################
    # 2. VMID handling
    #################################################################

    - name: Use override VMID if provided
      set_fact:
        new_vmid: "{{ vmid_override }}"
      when: vmid_override is defined and vmid_override | string | length > 0

    - name: Get next free VMID
      uri:
        url: "https://{{ api_host }}:8006/api2/json/cluster/nextid"
        method: GET
        validate_certs: no
        headers:
          Authorization: "{{ api_token_header }}"
      register: nextid_result
      when: new_vmid is not defined

    - name: Set auto vmid
      set_fact:
        new_vmid: "{{ nextid_result.json.data }}"
      when: new_vmid is not defined

    - name: Debug final VMID
      debug:
        msg: "Using VMID: {{ new_vmid }}"

    #################################################################
    # 3. Create VM shell
    #################################################################
    - name: Create VM shell
      uri:
        url: "https://{{ api_host }}:8006/api2/json/nodes/{{ vm_node_final }}/qemu"
        method: POST
        validate_certs: no
        headers:
          Authorization: "{{ api_token_header }}"
        body_format: form-urlencoded
        body:
          vmid: "{{ new_vmid }}"
          name: "{{ vm_name_final }}"
          cores: "{{ vm_cores_final }}"
          memory: "{{ vm_memory_final }}"
          scsihw: virtio-scsi-pci
          ostype: l26
          agent: 1
          balloon: 0
      register: create_vm

    #################################################################
    # 4. Add VM disk
    #################################################################
    - name: Add VM disk
      uri:
        url: >
          https://{{ api_host }}:8006/api2/json/nodes/{{ vm_node_final }}/qemu/{{ new_vmid }}/config
        method: PUT
        validate_certs: no
        headers:
          Authorization: "{{ api_token_header }}"
        body_format: form-urlencoded
        body:
          scsi0: "{{ vm_storage_final }}:{{ vm_disk_final }}G"
      register: disk_result

    #################################################################
    # 5. Add network
    #################################################################
    - name: Add network interface
      uri:
        url: >
          https://{{ api_host }}:8006/api2/json/nodes/{{ vm_node_final }}/qemu/{{ new_vmid }}/config
        method: PUT
        validate_certs: no
        headers:
          Authorization: "{{ api_token_header }}"
        body_format: form-urlencoded
        body:
          net0: "virtio,bridge={{ vm_bridge_final }}"
      register: net_result

    #######################
