---
- name: Create VM on Proxmox via API
  hosts: local
  gather_facts: no

  vars:
    vm_name:        "{{ vm_name }}"
    vm_id:          "{{ vm_id }}"
    pve_node:       "{{ pve_node }}"
    pve_storage:    "{{ pve_storage }}"
    pve_template:   "{{ pve_template }}"
    cpu_cores:      "{{ cpu_cores | default(2) }}"
    mem_size:       "{{ mem_size | default(4096) }}"   # MB

    # Network
    vm_ip:          "{{ vm_ip }}"
    vm_gateway:     "{{ vm_gateway | default('192.168.123.1') }}"
    vm_dns:         "{{ vm_dns | default('1.1.1.1') }}"

    # AD
    join_ad:        "{{ join_ad | default(false) }}"
    ad_domain:      "{{ ad_domain | default('') }}"
    ad_user:        "{{ ad_user | default('') }}"
    ad_pass:        "{{ ad_pass | default('') }}"

    # Post-install packages
    apt_packages:   "{{ apt_packages | default([]) }}"

    # Files to edit (list of dicts: {path: , content: })
    file_edits:     "{{ file_edits | default([]) }}"

  tasks:

    #########################################################
    # 1. Clone VM from template
    #########################################################
    - name: Clone VM from template
      community.general.proxmox_kvm:
        api_host: "{{ pve_host }}"
        api_user: "{{ pve_user }}"
        api_token_id: "{{ pve_token_name }}"
        api_token_secret: "{{ pve_token_value }}"
        node: "{{ pve_node }}"
        vmid: "{{ vm_id }}"
        clone: "{{ pve_template }}"
        name: "{{ vm_name }}"
        storage: "{{ pve_storage }}"
        state: present
        full: false
      register: clone_output

    - name: Wait 5 seconds for VM to be registered
      ansible.builtin.pause:
        seconds: 5


    #########################################################
    # 2. Apply cloud-init config (IP, DNS, GW, hostname)
    #########################################################
    - name: Configure cloud-init network + hostname
      community.general.proxmox_kvm:
        api_host: "{{ pve_host }}"
        api_user: "{{ pve_user }}"
        api_token_id: "{{ pve_token_name }}"
        api_token_secret: "{{ pve_token_value }}"
        node: "{{ pve_node }}"
        vmid: "{{ vm_id }}"
        ciuser: ansible
        cipassword: "Ansible123!"
        ipconfig:
          ipconfig0: "ip={{ vm_ip }}/24,gw={{ vm_gateway }}"
        nameserver: "{{ vm_dns }}"
        searchdomain: "local"
        hostname: "{{ vm_name }}"
        state: present


    #########################################################
    # 3. Start VM
    #########################################################
    - name: Start VM
      community.general.proxmox_kvm:
        api_host: "{{ pve_host }}"
        api_user: "{{ pve_user }}"
        api_token_id: "{{ pve_token_name }}"
        api_token_secret: "{{ pve_token_value }}"
        node: "{{ pve_node }}"
        vmid: "{{ vm_id }}"
        state: started


    #########################################################
    # 4. Vent på SSH
    #########################################################
    - name: Wait for SSH
      ansible.builtin.wait_for:
        port: 22
        host: "{{ vm_ip }}"
        timeout: 300


    #########################################################
    # 5. Installer pakker
    #########################################################
    - name: Install apt packages
      ansible.builtin.apt:
        name: "{{ apt_packages }}"
        state: present
        update_cache: yes
      when: apt_packages | length > 0
      delegate_to: "{{ vm_ip }}"


    #########################################################
    # 6. Redigér filer
    #########################################################
    - name: Apply file edits
      ansible.builtin.copy:
        dest: "{{ item.path }}"
        content: "{{ item.content }}"
        owner: root
        group: root
        mode: '0644'
      loop: "{{ file_edits }}"
      when: file_edits | length > 0
      delegate_to: "{{ vm_ip }}"


    #########################################################
    # 7. Join AD (optional)
    #########################################################
    - name: Install AD tools
      ansible.builtin.apt:
        name: [ "realmd", "sssd", "sssd-tools", "adcli", "samba-common-bin" ]
        state: present
      when: join_ad
      delegate_to: "{{ vm_ip }}"

    - name: Join Active Directory
      ansible.builtin.shell: |
        echo '{{ ad_pass }}' | realm join '{{ ad_domain }}' -U '{{ ad_user }}' --install=/ --verbose
      when: join_ad
      delegate_to: "{{ vm_ip }}"


    #########################################################
    # DONE
    #########################################################
    - name: DONE — VM created
      debug:
        msg: "VM {{ vm_name }} created on {{ pve_node }} with IP {{ vm_ip }}"
